# EditorConfig is awesome: http://EditorConfig.org

[*]
charset = utf-8
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,css,scss}]
indent_size = 4

[*.{js,html}]
indent_size = 2
