/*------------------------------------*\
    #HEADER
\*------------------------------------*/

$tweakpoint-header:         820px;





.c-header {
    background-color: #fff;
    align-items: center;
    display: flex;
    height: $header-height;
    padding-left: $spacing-unit-small;
    padding-right: $spacing-unit-small;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    @include mq(medium) {
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }

    &::before {
        background: linear-gradient(to right, color('brand-secondary') 0%, #00b8ff 50%);
        content: '';
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &::after {/* [2] */
        box-shadow: 0 6px 3px -3px rgba(#333, .05);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -$spacing-unit-small; /* [3] */
        right: -$spacing-unit-small; /* [3] */
        z-index: -1; /* [4] */
    }
}

    .c-header__search {
        $buton-width: 46px;

        align-items: center;
        display: flex;
        width: 350px;
        position: relative;

        @include mq($until: $tweakpoint-header) {
            background-color: #fff;
            padding-left: $spacing-unit-small;
            padding-right: $spacing-unit-small;
            width: 100%;
            position: absolute;
            top: $spacing-unit-small;
            bottom: $spacing-unit-small;
            left: 0;
            right: 0;
            z-index: 10;

            &.c-header__search--hidden-on-mobile {
                display: none;
            }
        }

        .c-header__search__close {
            color: #333;
            margin-right: $spacing-unit-small;
            padding-left: $spacing-unit-tiny;
            padding-right: $spacing-unit-tiny;
            transition: $global-transition;

            .icon {
                transition: inherit;
            }

            @include mq($from: $tweakpoint-header) {
                display: none;
            }

            &:hover {
                text-decoration: none;

                .icon {
                    transform: translateX(-3px);
                }
            }
        }

        @include mq($tweakpoint-header, 960px) {
            width: 280px;
        }

        /**
         * 1. Make sure children (like button) inherit border radius.
         */
        .action {
            border-radius: 2px;
            overflow: hidden; /* [1] */
            width: 100%;
        }

        .button {
            background: none;
            border-radius: 0 !important;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
            width: $buton-width;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            @include mq($until: $tweakpoint-header) {
                background-color: color('brand-secondary') !important;
                color: #fff !important;
                left: auto;
                right: 0;
            }

            &:hover {
                background: none;
            }

            .icon {
                display: block !important;
                width: 100%;

                &::before {
                    display: inline-block !important;
                }
            }
        }

        input {
            background-color: rgba(#eef1f2, 0) !important;
            border: none !important;
            border-radius: inherit !important;
            font-size: 16px !important;
            padding-left: $buton-width !important;
            transition: $global-transition !important;

            &::placeholder {
                color: color('light-grey') !important;
                opacity: .9 !important;
            }

            &:hover {
                background-color: rgba(#eef1f2, .3) !important;
            }

            &:focus {
                background-color: #eef1f2 !important;
                color: #333 !important;
            }

            @include mq($until: $tweakpoint-header) {
                background-color: rgba(#eef1f2, .7) !important;
                padding-right: $buton-width !important;
                padding-left: $spacing-unit !important;

                &:hover {
                    background-color: rgba(#eef1f2, .8) !important;
                }

                &:focus {
                    background-color: #eef1f2 !important;
                    color: #333 !important;
                }
            }
        }
    }

    .c-header__options {
        align-items: center;
        color: #5d5d5d;
        display: flex;
        margin-left: auto;

        > .item {
            margin-left: $spacing-unit;
        }

        .avatar {
            margin-right: 0 !important;
        }

        .list.icon {
            position: relative;
            top: -2px;
        }

        .dropdown.icon {
            margin-left: $spacing-unit-tiny !important;
        }

        .dropdown.item {
            align-items: center;
            display: inline-flex;
        }

        @include mq($until: medium) {
            .dropdown.icon {
                display: none;
            }
        }
    }

        .c-header__options__mobile-search {

            @include mq($tweakpoint-header) {
                display: none;
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }
        }

    .c-header__btn[class][class][class][class] {
        border: 1px solid darken(#eef1f2, 4%) !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;

        @include mq($until: medium) {
            padding: .5em 1em;
        }

        &:hover {
            background-color: #eef1f2 !important;
        }
    }

        .c-header__btn__text {
            @include mq($until: $tweakpoint-header) {
                display: none;
            }
        }

    .c-header__btn--upload[class][class][class][class] {
        margin-right: 0;
        padding-left: 1em;
        padding-right: 1em;

        .icon {
            margin-left: 0 !important;

            @include mq($until: $tweakpoint-header) {
                margin-right: 0 !important;
            }
        }
    }
