/*------------------------------------*\
    #HERO
\*------------------------------------*/

/**
 * Hero
 */
.c-hero {
    background-color: #e8e8f0;

    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: $spacing-unit;
    padding-top: $spacing-unit-large;
    padding-bottom: $spacing-unit-large;
    position: relative;

    @include mq(medium) {
        background-image: url(../../img/hero-illustration.svg);
        background-position: top 50% right 0;
        background-size: auto 76%;
        margin-bottom: $spacing-unit-large;
        padding-top: $spacing-unit-huge;
        padding-bottom: $spacing-unit-huge;
    }

    @include mq(large) {
        background-position: top -20% right 0;
        background-size: auto;
    }

    @include mq(extralarge) {
        background-position: top 50% right 10%;
        background-size: auto 88%;
        margin-bottom: $spacing-unit-huge;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    &::before,
    &::after {
        background-color: inherit;
        content: '';
        width: 50vw;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    &::before {
        right: 100%;
    }

    &::after {
        left: 100%;
    }

    p {
        margin-bottom: 34px;
    }
}

    /**
     * Hero title
     */
    .c-hero__title {
        font-size: 32px;
        font-weight: 700;

        @include mq(medium) {
            font-size: 44px;
        }

        @include mq(large) {
            font-size: 46px;
        }

        @include mq(extralarge) {
            font-size: 48px;
        }
    }
