/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.c-logo {
    align-items: center;
    color: #333;
    display: flex;
    font-size: 18px;
    transition: $global-transition;

    img {
        animation: scale .35s alternate infinite ease-in;
        animation-play-state: paused;
        height: auto;
        margin-right: $spacing-unit-small;
        transition: inherit;
        width: 24px;
        will-change: transform;
    }

    span {
        font-size: .8em;
        margin-left: 3px;
        position: relative;
        top: -.3em;
    }

    &:hover {
        color: #333;
        text-decoration: none;

        img {
            animation-play-state: running;
        }
    }

    &:focus {
        img {
            transform: scale(.9);
        }
    }

    @keyframes scale {
        0% {
            transform: scale(.98);
        }

        100% {
            transform: scale(1.1);
        }
    }
}
