/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

$tweakpoint-footer:                     680px;
$tweakpoint-footer-medium:              750px;
$tweakpoint-footer-large:               880px;

$footer-logo-height:                    34px;





.c-footer {
    background-color: #eceff1;
    border-top: 1px solid #dbdcdd;
    padding-top: $spacing-unit-large;
    margin-top: auto;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

    /**
     * Footer logo
     */
    .c-footer__logo {
        display: inline-block;

        img {
            display: block;
            height: $footer-logo-height;
            width: auto;
        }

        &:hover {
            text-decoration: none;
        }
    }

    /**
     * Footer heading
     */
    .c-footer__heading {
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: $spacing-unit;
        text-transform: uppercase;

        @include mq($until: $tweakpoint-footer-medium) {
            margin-bottom: $spacing-unit-tiny;
        }
    }

    /**
     * Footer content
     *
     * 1. On intermediate breakpoint headings in the sidebar need to be aligned
     *    with the heading from the main section. Since on this breakpoint
     *    logo's parent (`c-footer__main__item`) is no longer a flex item
     *    (but block) and has a bottom margin we need to hack the spacing by
     *    exactly that: setting the top margin as (logo height + logo's parent
     *    bottom margin).
     */
    .c-footer__content {
        margin-bottom: $spacing-unit-large;

        @include mq($until: $tweakpoint-footer) {
            text-align: center;
        }
    }

        .c-footer__content__cell {
            width: 100%;

            @include mq($tweakpoint-footer) {
                flex: 0 0 auto;
                width: auto;
            }

            @include mq($from: $tweakpoint-footer-medium, $until: extralarge) {
                &:last-child {
                    margin-top: $footer-logo-height + $spacing-unit; /* [1] */
                }
            }
        }

        /**
         * Footer main section
         */
        .c-footer__main {
            @include mq(extralarge) {
                display: flex;
            }
        }

            .c-footer__main__item {
                flex: 0 0 auto;

                &:not(:last-child) {
                    margin-bottom: $spacing-unit;

                    @include mq(extralarge) {
                        margin-right: 60px;
                    }
                }
            }

        /**
         * Footer sidebar
         */
        .c-footer__sidebar {
            margin-top: $spacing-unit-large;

            @include mq($tweakpoint-footer) {
                border-left: 1px solid #dbdcdd;
                height: 100%;
                margin-left: $spacing-unit-large;
                padding-left: $spacing-unit-large;
                margin-top: 0;
            }

            @include mq($tweakpoint-footer-medium) {
                display: flex;
            }

            @include mq($tweakpoint-footer-large) {
                margin-left: $spacing-unit-huge;
                padding-left: $spacing-unit-huge;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            li {
                @include mq($until: $tweakpoint-footer-medium) {
                    display: inline-block;
                    vertical-align: middle;

                    &:not(:last-child) {
                        margin-right: $spacing-unit;
                    }
                }
            }

            a {
                color: #5e6169;

                &:hover {
                    color: color('brand-secondary');
                }
            }
        }

            .c-footer__sidebar__item {
                flex: 0 0 auto;

                &:not(:last-child) {
                    @include mq($until: $tweakpoint-footer-medium) {
                        margin-bottom: $spacing-unit + 10;
                    }

                    @include mq($tweakpoint-footer-medium) {
                        margin-right: 40px;
                    }

                    @include mq($tweakpoint-footer-large) {
                        margin-right: 60px;
                    }
                }
            }

    /**
     * Footer bottom bar
     */
    .c-footer__bottom-bar {
        background-color: darken(#eceff1, 5%);
        color: #6e7279;
        padding-top: $spacing-unit-small;
        padding-bottom: $spacing-unit-small;

        @include mq($until: $tweakpoint-footer) {
            padding-top: $spacing-unit;
            padding-bottom: $spacing-unit;
        }
    }

        .c-footer__bottom-bar__cell {
            flex: 0 0 auto;
            justify-content: space-between;
            width: auto;

            @include mq($until: $tweakpoint-footer) {
                text-align: center;
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: $spacing-unit;
                }
            }
        }

            .c-footer__bottom-bar__url-list {
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        vertical-align: middle;

                        &:not(:first-child) {
                            &:before {
                                background-color: color('light-grey');
                                border-radius: 50%;
                                content: '';
                                display: inline-block;
                                height: 3px;
                                width: 3px;
                                vertical-align: middle;
                            }
                        }
                    }

                    @include mq(medium) {
                        display: inline-block;
                        margin-left: $spacing-unit-tiny;
                        vertical-align: top;
                    }
                }

                span {
                    @include mq(medium) {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                a {
                    color: inherit;
                    display: inline-block;
                    vertical-align: top;

                    &:hover {
                        color: color('brand-secondary');
                    }
                }
            }

            .c-footer__bottom-bar__social-media {
                li {
                    list-style-type: none;

                    a {
                        display: block;
                        opacity: .8;
                        transition: $global-transition;

                        &:hover {
                            opacity: 1;
                            text-decoration: none;
                        }
                    }
                }
            }


