/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.c-video {
    margin-bottom: $spacing-unit-large;
}

    .c-video__img {
        display: block;
        margin-bottom: $spacing-unit-tiny;
        transition: $global-transition;
        transform-origin: 50% 100%;
        will-change: transform;
        position: relative;

        &:before {
            @include invisible;
            background-color: rgba(color('brand-secondary'), .5);
            content: '';
            transition: inherit;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 10;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
        }

        .play {
            @include invisible;
            color: #fff;
            font-size: 44px;
            line-height: 1;
            text-shadow: 2px 2px 2px rgba(#333, .4);
            transform: translate(-50%, -50%);
            transition: inherit;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 20;

            @include mq(medium) {
                font-size: 30px;
            }

            @include mq(large) {
                font-size: 40px;
            }

            @include mq(extralarge) {
                font-size: 50px;
            }
        }

        &:hover {
            text-decoration: none;
            transform: scale(1.02);

            &::before,
            .play {
                @include visible;
            }
        }
    }
