/*------------------------------------*\
    #HERO
\*------------------------------------*/

$tweakpoint-hero:           520px;





/**
 * Hero
 */
.c-hero {
    background-color: #fff;
    background-image: url('../../img/hero-illustration-mobile.svg');
    background-position: top 5% left 50%;
    background-repeat: no-repeat;
    background-size: 90% auto;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit-large;
    padding-top: $spacing-unit-large;
    text-align: center;
    position: relative;

    @include mq($tweakpoint-hero) {
        background-color: #e8e8f0;
        background-image: url('../../img/hero-illustration.svg');
        background-position: bottom -400% right -10%;
        background-size: auto 90%;
        text-align: left;
    }

    @include mq(medium) {
        background-position: top 50% right -5%;
        background-size: auto 76%;
        margin-bottom: $spacing-unit-large;
        padding-top: $spacing-unit-huge;
        padding-bottom: $spacing-unit-huge;
    }

    @include mq(large) {
        background-position: top -20% right 0;
        background-size: auto;
    }

    @include mq(extralarge) {
        background-position: top 50% right 10%;
        background-size: auto 88%;
        margin-bottom: $spacing-unit-huge;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    &::before,
    &::after {
        background-color: inherit;
        content: '';
        width: 50vw;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    &::before {
        right: 100%;
    }

    &::after {
        left: 100%;
    }

    p {
        margin-bottom: $spacing-unit;

        @include mq($until: $tweakpoint-hero) {
            br {
                display: none;
            }
        }

        @include mq($tweakpoint-hero) {
            margin-bottom: 34px;
        }
    }
}

    /**
     * Hero title
     */
    .c-hero__title {
        font-size: 32px;
        font-weight: 700;

        @include mq(medium) {
            font-size: 44px;
        }

        @include mq(large) {
            font-size: 46px;
        }

        @include mq(extralarge) {
            font-size: 48px;
        }
    }

    /**
     * Secondary cta
     */
    .c-hero__secondary-cta {
        color: #868a9a;
        display: block;

        @include mq($until: $tweakpoint-hero) {
            font-size: 14px;
        }
    }

    /**
     * Hero buttons
     */
    .c-hero__layout-buttons {
        > .o-grid__cell[class] {
            width: 100%;

            @include mq($tweakpoint-hero) {
                width: auto;
            }

            &:not(:first-child) {
                margin-top: $spacing-unit-small;

                @include mq($tweakpoint-hero) {
                    margin-top: 0;
                }
            }
        }
    }
