/*------------------------------------*\
    #HEADER
\*------------------------------------*/

$tweakpoint-header:         1000px;





/**
 * 1. Use pseudo-element to simulate the one-sided shadow effect.
 * 2. Widen the pseudo-element so that blurry edges on the left and right of the
 *    shadow are not shown. This provides the effect of shadow being the same
 *    along its entire width.
 * 3. Put the box in the back so that everything is still clickable.
 */
.c-header {
    background-color: #fff;
    align-items: center;
    display: flex;
    height: $header-height;
    padding-left: $spacing-unit-small;
    padding-right: $spacing-unit-small;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    @include mq(medium) {
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }

    &::after {/* [1] */
        box-shadow: 0 6px 3px -3px rgba(#333, .05);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -$spacing-unit-small; /* [2] */
        right: -$spacing-unit-small; /* [2] */
        z-index: -1; /* [3] */
    }
}

    .c-header__item {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
    }

    .c-header__search {
        $buton-width: 46px;

        align-items: center;
        display: flex;
        margin-right: $spacing-unit;
        width: 240px;
        position: relative;

        @include mq($until: $tweakpoint-header) {
            @include visible;
            background-color: #fff;
            margin-right: 0;
            padding: $spacing-unit-small;
            transform: translateY(0);
            transition: all .1s ease;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;

            &.c-header__search--hidden\@small {
                @include invisible;
                transform: translateY(-(round($header-height / 2)));
            }
        }

        .c-header__search__close {
            color: #333;
            margin-right: $spacing-unit-small;
            padding-left: $spacing-unit-tiny;
            padding-right: $spacing-unit-tiny;
            transition: $global-transition;

            .icon {
                transition: inherit;
            }

            @include mq($from: $tweakpoint-header) {
                display: none;
            }

            &:hover {
                text-decoration: none;

                .icon {
                    transform: translateX(-3px);
                }
            }
        }

        /**
         * 1. Make sure children (like button for example) inherit border
         *    radius.
         */
        .action {
            border-radius: 2px;
            overflow: hidden; /* [1] */
            width: 100%;
        }

        .button {
            background: none;
            border-radius: 0 !important;
            padding-right: 0;
            padding-left: 0;
            text-align: center;
            width: $buton-width;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            @include mq($until: $tweakpoint-header) {
                background-color: color('brand-secondary') !important;
                color: #fff !important;
                left: auto;
                right: 0;
            }

            &:hover {
                background: none;
            }

            .o-icon {
                display: block !important;
                width: 100%;
            }
        }

        .c-header__search__input[class][class][class][class] {
            background-color: rgba(#eef1f2, .5) !important;
            border: none !important;
            border-radius: inherit !important;
            font-size: 15px !important;
            font-weight: 400 !important;
            padding-left: $buton-width !important;
            padding-right: $spacing-unit-small !important;
            transition: $global-transition !important;

            &::placeholder {
                color: color('light-grey') !important;
                opacity: .9 !important;
            }

            &:hover {
                background-color: rgba(#eef1f2, .7) !important;
            }

            &:focus {
                background-color: #eef1f2 !important;
                color: #333 !important;
            }

            @include mq($until: $tweakpoint-header) {
                background-color: rgba(#eef1f2, .7) !important;
                padding-left: $spacing-unit !important;
                padding-right: $buton-width !important;

                &:hover {
                    background-color: rgba(#eef1f2, .8) !important;
                }

                &:focus {
                    background-color: #eef1f2 !important;
                    color: #333 !important;
                }
            }
        }
    }

    .c-header-dropdown {
        position: absolute;
        top: 37px;
        width: 100%;
        min-height: 86px;
        border: 1px solid black;
        background-color: white;
    }

    .c-header__options {
        align-items: center;
        color: #5d5d5d;
        display: flex;

        > .item {
            margin-left: $spacing-unit;
        }

        .list.icon {
            position: relative;
            top: -2px;
        }

        .dropdown.icon {
            color: #aab0b8;
            margin-left: $spacing-unit-tiny !important;

            @include mq($until: medium) {
                display: none;
            }
        }
    }

        .c-header__options__mobile-search {

            @include mq($tweakpoint-header) {
                display: none;
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }
        }

    .c-header__btn[class][class][class][class] {
        border: 1px solid darken(#eef1f2, 4%) !important;
        box-shadow: none !important;
        color: $global-link-color !important;
        -webkit-box-shadow: none !important;

        @include mq($until: medium) {
            padding: .5em 1em;
        }

        &:hover {
            background-color: #eef1f2 !important;
        }
    }

    .c-header__avatar {
        border-radius: $global-border-radius;
        display: inline-block;
        font-size: $header-height - (2 * $spacing-unit-small);
        height: 1em;
        max-width: none;
        vertical-align: middle;
        width: 1em;
    }
