/*------------------------------------*\
    #STICKY FOOTER LAYOUT
\*------------------------------------*/

/**
 * 1. The footer on small(er) screens is pretty tall, so we do not need to tweak
 *    the `body` for that. Best to leave it to default ;)
 */
.c-sticky-footer-layout {
    @include mq(medium) { /* [1] */
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

    .c-sticky-footer-layout__content {
        margin-bottom: $spacing-unit-huge;
    }

    .c-sticky-footer-layout__footer {
        margin-top: auto;
    }

