/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.c-video {
    margin-bottom: $spacing-unit-large;

    .c-videos-list & {
        @include mq($tweakpoint-videos-list) {
            display: flex;
        }
    }
}

    /**
     * Video content
     *
     * 1. When titles are longer it doesn't look if they go all the way to the
     *    end of the line. So let's make sure there are some breathing room.
     */
    .c-video__content {
        padding-right: $spacing-unit-tiny; /* [1] */

        .c-videos-list & {
            @include mq($tweakpoint-videos-list) {
                padding-top: $spacing-unit-tiny;
            }
        }
    }

    /**
     * Video title
     */
    .c-video__title {
        $font-size: 17px;
        $line-height: 1.45;
        $max-number-of-lines: 2;
        $max-height: $font-size * ($line-height - .25) * $max-number-of-lines;

        color: #3a5161;
        display: block;
        font-size: $font-size;
        font-weight: 400;
        margin-bottom: $spacing-unit-tiny - 2;
        max-height: round($max-height);
        overflow: hidden;
        transition: $global-transition;

        &:hover {
            color: color('brand-secondary');
            text-decoration: none;
        }
    }

    /**
     * Video footer
     */
    .c-video__footer {
        color: color('light-grey');
        display: block;
        font-size: 13px;
        font-weight: 400;

        a {
            color: inherit;

            &:hover {
                color: color('brand-secondary');
                text-decoration: none;
            }
        }

        .avatar {
            font-size: 10px;
        }

        &:not(:last-child) {
            margin-bottom: $spacing-unit-small;
        }
    }

        .c-video__date {
            margin-left: $spacing-unit-tiny - 2;

            &::before {
                content: '\2219';
                font-size: 16px;
                margin-right: $spacing-unit-tiny - 2;
            }
        }
