{% extends 'base_http_status.html' %}

{% block title %}404 - Not Found{% endblock %}

{% block content %}
  <img class="c-http-status__img" src="{{ url_for('static', filename='img/http-status-404.svg') }}" alt="error 404">
  <h1 class="c-http-status__title">Oops!</h1>
  <p>
    This page isn’t available, sorry. Try searching for something else.
    <br>Or go to <a href="/">homepage</a>.
  </p>
  <form action="" class="c-http-status__search js-search-form">
    <input class="js-search-form__input" type="text" placeholder="Search...">
    <button class="js-search-form__btn" type="submit">
      {% include 'atoms/icon-search.html' %}
    </button>
  </form>

  <script type="application/javascript">
    const searchForm = document.querySelector('.js-search-form');
    const searchFormInput = document.querySelector('.js-search-form__input');
    const searchFormBtn = document.querySelector('.js-search-form__btn');

    const performSearch = function () {
      const query = searchFormInput.value;

      if (query.length > 0) {
        window.location = "/search?q=" + query;
      }
    };

    searchFormBtn.addEventListener('click', function (e) {
      e.preventDefault();
      performSearch()
    });

    searchFormInput.addEventListener('keypress', function (e) {
      if (e.which == 13) {
        performSearch();
        return false;
      }
    });
  </script>
{% endblock %}
