{% extends 'base.html' %}

{% block title %}Viewly Alpha{% endblock %}

{% block content %}
    <div class="ui text container">
        <p></p>
        <iframe
                width="100%" height="405"
                src="/embed/9L2gB6hSMQP7?autoPlay=0"
                frameborder="0" allowfullscreen>
        </iframe>

        <h2>What is Viewly Alpha?</h2>
        Viewly Alpha is a <i>tokenized video platform</i>, aiming to provide a more fair and efficient means of content delivery and monetization.
        Alpha is built with cool tech like Ethereum and IPFS. Alpha is in an experimental phase, and as such is not for the faint of heart.

        <h3>Source Code</h3>
        You can find the source of the underlying Ethereum contracts <a href="https://github.com/Viewly/platform-contracts">here</a>.
        The IPFS infrastructure and other tools will be open-sourced and published on our
        <a href="https://github.com/Viewly">GitHub</a> later this year.

        <h3>Feedback</h3>
        If you have a product idea, feature request, or constructive criticism - we would
        <a href="https://viewly.typeform.com/to/MXeBzl">love to hear it</a>. Constructive feedback will be rewarded with <a
            href="https://etherscan.io/token/0xf03f8d65bafa598611c3495124093c56e8f638f0">VIEW Tokens</a>.

    </div>
    <br>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
