<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>{% block title %}Viewly{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/semantic-ui-css/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="{{ url_for('static', filename='css/compiled/base.scss.css') }}" rel="stylesheet" type="text/css">

    {% block styles %}
    {% endblock %}

    <meta property="og:title" content="Viewly–A decentralized video platform">
    <meta property="og:description" content="Viewly is a decentralized video platform, powered by smart contracts and IPFS.">
    <meta property="og:image" content="https://view.ly/img/logo-viewly-square.png">

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/lodash/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/semantic-ui-css/semantic.min.js') }}"></script>
    {#<script src="{{ url_for('static', filename='bundle.js') }}"></script>#}

</head>
<body>

{% block menu %}
    {% include "partials/main_menu.html" %}
{% endblock %}

{% block player %}
{% endblock %}

<div class="ui container">
    {% include "partials/flash_messages.html" %}
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
{% endblock %}

<script type="application/javascript">
    // SEMANTIC.UI
    $(function () {
        // Enable dropdown
        $('.ui.dropdown').dropdown();
        // Enable close button on messages
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    });

    // global missing image replacement
    $(function () {
        $(".avatar.image").on("error", function () {
            $(this).attr('src', 'https://i.imgur.com/32AwiVw.jpg');
        });

        $(".c-video__img img").on("error", function () {
            $(this).attr('src', 'https://i.imgur.com/04kFE8B.png');
        });
    });
</script>

{% block scripts %}
{% endblock %}
</body>
</html>
