<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
  <title>{% block title %}Viewly{% endblock %}</title>

  <!-- Preconnect for supporting browsers -->
  <link rel="preconnect" href="https://fonts.googleapis.com" pr="1.0">
  <link rel="preconnect" href="https://themes.googleusercontent.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin pr="1.0">
  <link rel="preconnect" href="https://heapanalytics.com" pr="1.0">
  <link rel="preconnect" href="https://cdn.heapanalytics.com" pr="1.0">

  <!-- DNS prefetch for browsers that don't support preconnect -->
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" pr="1.0">
  <link rel="dns-prefetch" href="https://themes.googleusercontent.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/" crossorigin pr="1.0">
  <link rel="dns-prefetch" href="https://heapanalytics.com" pr="1.0">
  <link rel="dns-prefetch" href="https://cdn.heapanalytics.com" pr="1.0">

  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/semantic-ui-css/semantic.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  {% if flask_env() == 'development' %}
    <link href="http://localhost:3000/dist/style.css" rel="stylesheet" type="text/css">
  {% else %}
    <link href="{{ url_for('static', filename=find_css('style')) }}" rel="stylesheet" type="text/css">
  {% endif %}

  {% block styles %}
  {% endblock %}

  <meta property="og:title" content="{% block meta_title %}Viewly–A tokenized video platform{% endblock %}">
  <meta property="og:description" content="{% block meta_description %}Viewly is a tokenized video platform, aiming to provide a more fair and efficient means of content delivery and monetization.{% endblock %}">
  <meta property="og:image" content="{% block meta_image %}https://view.ly/img/logo-viewly-square.png{% endblock %}">

  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/lodash/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/semantic-ui-css/semantic.min.js') }}"></script>

</head>
<body class="c-sticky-footer-layout {{ pageClass }}">

{% block menu %}
  {% include "partials/main_menu.html" %}
{% endblock %}

<div class="c-sticky-footer-layout__content">
  {% block player %}
  {% endblock %}

  <div class="o-wrapper">
    {% include "partials/flash_messages.html" %}
    {% block content %}
    {% endblock %}
  </div>
</div>

{% if showAboutViewlyFooter and not current_user.is_authenticated %}
  <div class="o-wrapper">
    {% include 'partials/hero-about.html' %}
  </div>
{% endif %}

{% if showFooter %}
  {% include 'partials/footer.html' %}
{% endif %}

<div id="react-modal"></div>

{% include 'partials/wallet_config.html' %}
{% if flask_env() == 'development' %}
  <script src="http://localhost:3000/dist/vendor.js"></script>
  <script src="http://localhost:3000/dist/main.js"></script>
{% else %}
  {% for js_file in list_javascripts() %}
    <script src="{{ url_for('static', filename=js_file) }}"></script>
  {% endfor %}
{% endif %}

<script type="application/javascript">
  // SEMANTIC.UI
  $(function () {
    // Enable dropdown
    $('.ui.dropdown').dropdown();
    // Enable close button on messages
    $('.message .close').on('click', function () {
      $(this).closest('.message').transition('fade');
    });
  });

  // Dropdown show/hide
  $(function () {
    const viewport = $('body');
    const dropdown = $('.c-dropdown');

    viewport.on('click', function (e) {
      const target = $(e.target.closest(dropdown.selector));

      if (target.length === 0) {
        dropdown.removeClass('is-active');
      }
    });

    dropdown.on('click', function (e) {
      dropdown.not(this).removeClass('is-active')
      $(this).toggleClass('is-active');
    });
  });

  // global missing image replacement
  $(function () {
    $(".js-thumbnail-img").on("error", function () {
      $(this).attr('src', 'https://i.imgur.com/04kFE8B.png');
    });
  });
</script>

{% block scripts %}
{% endblock %}


{% if is_production() %}
  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
  <script>
    (function (f, a, t, h, o, m) {
      a[h] = a[h] || function () {
        (a[h].q = a[h].q || []).push(arguments)
      };
      o = f.createElement('script');
      m = f.getElementsByTagName('script')[0];
      o.async = 1;
      o.src = t;
      o.id = 'fathom-script';
      m.parentNode.insertBefore(o, m)
    })(document, window, '//fathom.view.ly/tracker.js', 'fathom');
    fathom('trackPageview');
  </script>
  <!-- / Fathom -->

  <!-- Heap analytics -->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("1603815217");
  </script>
  <!-- / Heap -->
{% endif %}

</body>
</html>
