{% extends 'base.html' %}
{% set active_page = "profile" %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

    <br>
    <div class="ui centered divided grid">
        <div class="row">

            <div class="ten wide column">
                <h2>Channels</h2>
                {% if channels %}
                    <table class="ui single line compact celled table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Uploads</th>
                            <th>Created On</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for channel, video_count in channels %}
                            <tr>
                                <td>
                                    <b><img src="https://i.imgur.com/32AwiVw.jpg" class="ui circular avatar image">
                                    <a href="{{ url_for('view_channel', channel_id=channel.id) }}">
                                        {{ channel.display_name }}</a>
                                    </b>
                                </td>
                                <td>{{ video_count }}</td>
                                <td>{{ channel.created_at | humanDate }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                {% else %}
                    You don't have any channels yet.
                {% endif %}

                <div class="ui text container">
                    <a href="{{ url_for('channel.create') }}"
                       class="ui labeled icon button blue">
                        New Channel
                        <i class="add icon"></i>
                    </a>
                </div>
            </div>


            <div class="four wide column">
                <h2>Settings</h2>
                <a href="{{ url_for('security.change_password') }}">Change Password</a>
                <br>
            </div>

        </div>
    </div>

{% endblock %}


{% block scripts %}
{% endblock %}
