<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embedded Player</title>
</head>
<body>

<span id="player-full"></span>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="//cdn.jsdelivr.net/lodash/latest/lodash.min.js"></script>
<script src="//cdn.jsdelivr.net/clappr/latest/clappr.min.js"></script>
<script src="//cdn.jsdelivr.net/clappr.thumbnails-plugin/latest/clappr-thumbnails-plugin.js"></script>
<script src="{{ url_for('static', filename='js/clappr-playback-rate-plugin.min.js') }}"></script>
<script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>
<script>

    // hack workaround
    steem.api.setOptions({
      transport: 'http',
      uri: 'https://steemd.steemit.com'
    });

    var author = "{{ author }}";
    var permlink = "{{ permlink }}";

    var extractHash = function (json_metadata) {
        return JSON.parse(json_metadata)['video']['root'];
    };

    var extractFiles = function (json_metadata) {
        return JSON.parse(json_metadata)['video']['files']
    };

    var extractVideoFile = function (json_metadata) {
        return JSON.parse(json_metadata)['video']['video_file']
    };

    var linkBuilder = function (ipfs_hash, resource) {
        return "{{ ipfs_url }}/ipfs/" + ipfs_hash + "/" + resource;
    };

    var getContent = function () {
        steem.api.getContent(author.replace('@', ''), permlink, function (err, result) {
            console.log(JSON.parse(result['json_metadata']));
            var ipfs_hash = extractHash(result['json_metadata']);

            var thumbnailsSprite = function () {
                // first, we need to find the tilesheet
                var fileNames = _.map(extractFiles(result['json_metadata']), function (o) {
                    return o['Name'];
                });

                var spriteFileName = _.first(
                    _.filter(fileNames, function (filename) {
                        return /tilesheet_.*\.png/.test(filename)
                    })
                );

                if (!spriteFileName) {
                    return []
                }

                var properties = _.tail(spriteFileName.split('.')[0].split('_'));

                var numThumbnails = properties[0];
                var timeInterval = properties[1];
                var tileWidth = properties[2];
                var tileHeight = properties[3];

                return ClapprThumbnailsPlugin.buildSpriteConfig(
                    linkBuilder(ipfs_hash, spriteFileName),
                    numThumbnails,  // number of thumbnails
                    tileWidth, // thumbnail width
                    tileHeight, // thumbnail height
                    10, // number of tiles (columns) per row
                    timeInterval // time interval
                );
            };

            var player = new Clappr.Player({
                source: linkBuilder(ipfs_hash, extractVideoFile(result['json_metadata'])),
                poster: linkBuilder(ipfs_hash, "thumbnail_1.png"),
                mute: false,
                height: window.innerHeight-20,
                width: "100%",
                autoPlay: {{ autoPlay }},
                plugins: {
                    core: [ClapprThumbnailsPlugin, PlaybackRatePlugin]
                },
                scrubThumbnails: {
                    backdropHeight: 64,
                    spotlightHeight: 84,
                    thumbs: thumbnailsSprite()
                },
                playbackRateConfig: {
                    defaultValue: '1.0',
                    options: [
                        {value: '0.5', label: '0.5x'},
                        {value: '1.0', label: '1x'},
                        {value: '1.25', label: '1.25x'},
                        {value: '1.5', label: '1.5x'},
                        {value: '2.0', label: '2x'}
                    ]
                }
            });

            var playerElement = document.getElementById("player-full");
            player.attachTo(playerElement);


            $('#post-title').text(result['title']);
            $('title').text(result['title']);
        });
    };

    // start here
    $(function () {
        getContent();
    });
</script>
</body>
</html>