{% extends 'base.html' %}

{% block title %}Viewly Alpha{% endblock %}

{% block content %}
    <div class="ui text container">
        <br>
        <h2 class="ui floating header">Welcome to Viewly Alpha</h2>
        Viewly Alpha is an experimental prototype, built with cool things like Ethereum, IPFS and Steem.
        Alpha is not production ready, nor is it representative of the final Viewly product.

        <iframe
                width="100%" height="546"
                src="/embed/rb6pv5gswmD2?autoPlay=1"
                frameborder="0" allowfullscreen>
        </iframe>

        <div class="ui text container text-center">
            <a href="{{ url_for("upload.upload_videos") }}"
               class="ui button blue huge">Publish your first video</a>
        </div>

    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
