{% extends 'base.html' %}

{% block title %}New Videos{% endblock %}

{% block content %}
    <p></p>
    <h3>New Videos</h3>
    <div class="o-grid c-videos-grid">

        {% for video in videos %}
            <div class="o-grid__cell c-videos-grid__cell">
                <div class="c-video">
                    <a class="c-video__img" href="{{ url_for('view_video', video_id=video.id) }}">
                        <img src="{{ guess_thumbnail_cdn_url(video.id, 'small') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-poster="" class="c-video__play-icon"><path fill="currentColor" d="M1.425.35L14.575 8l-13.15 7.65V.35z"></path></svg>
                    </a>
                    <div class="c-video__content">
                        <a class="c-video__title"
                            href="{{ url_for('view_video', video_id=video.id) }}"
                            title="{{ video.title }}">
                            {{ video.title }}
                        </a>
                        <div class="c-video__footer">
                            {% if video.channel_id %}
                                <a href="{{ url_for('view_channel', channel_id=video.channel_id) }}">
                                    <img src="{{ guess_avatar_cdn_url(video.channel_id, 'tiny') }}"
                                         class="ui circular avatar image">
                                    {{ video.channel.display_name }}
                                </a>
                            {% endif %}
                            <span class="c-video__date">
                                {{ video.published_at | humanDate }}
                            </span>
                        </div>
                        <div class="extra">
                            {% if not video.channel_id %}
                                <div class="ui label">no-channel</div>
                            {% endif %}
                            {% if not video.published_at %}
                                <div class="ui label">unpublished</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            No videos to display.
        {% endfor %}

    </div>

    <div class="c-direction-buttons">

    {% if page_num > 0 %}
        <a href="/new?page={{ page_num - 1 }}"
           class="c-btn--primary c-direction-buttons__btn c-direction-buttons__btn--previous ui primary left labeled icon button">
            <i class="left angle icon"></i>
            Previous
        </a>
    {% endif %}
    {% if videos and videos|length == items_per_page %}
        <a href="/new?page={{ page_num + 1 }}"
           class="c-btn--primary c-direction-buttons__btn c-direction-buttons__btn--next ui primary right labeled icon button">
            <i class="right angle icon"></i>
            Next</a>
    {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
