{% extends 'base.html' %}

{% block title %}New Videos{% endblock %}

{% block content %}
    <p></p>
    <h3>New Videos</h3>
    <div class="ui relaxed items">

        {% for video in videos %}
            <div class="item">
                <div class="ui small image">
                    <a href="{{ url_for('view_video', video_id=video.id) }}">
                        <img src="{{ guess_thumbnail_cdn_url(video.id) }}">
                    </a>
                </div>
                <div class="content">
                    <a class="header"
                       href="{{ url_for('view_video', video_id=video.id) }}">{{ video.title }}</a>
                    <div class="meta">
                        {{ video.published_at | humanDate }} by
                        {% if video.channel_id %}
                            <b><a href="{{ url_for('view_channel', channel_id=video.channel_id) }}">
                                {{ video.channel.display_name }}</a></b>
                        {% endif %}
                    </div>
                    <div class="extra">
                        {% if not video.channel_id %}
                            <div class="ui label">no-channel</div>
                        {% endif %}
                        {% if not video.published_at %}
                            <div class="ui label">unpublished</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    {% if page_num > 0 %}
        <a href="/new?page={{ page_num - 1 }}" class="ui button blue"><</a>
    {% endif %}
    {% if videos and videos|length == items_per_page %}
        <a href="/new?page={{ page_num + 1 }}" class="ui button blue">Next Page</a>
    {% endif %}
{% endblock %}

{% block footer %}
    <br>
    <br>
    {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
