{% extends 'base.html' %}

{% block title %}New Videos{% endblock %}

{% block content %}
    <p></p>
    <h3>New Videos</h3>
    <div class="o-grid c-videos-grid">

        {% for video in videos %}
            <div class="o-grid__cell c-videos-grid__cell">
                <div class="c-video">
                    <a class="c-video__img" href="{{ url_for('view_video', video_id=video.id) }}">
                        <img src="{{ guess_thumbnail_cdn_url(video.id) }}">
                        <i class="play icon"></i>
                    </a>
                    <div class="c-video__content">
                        <a class="c-video__title"
                            href="{{ url_for('view_video', video_id=video.id) }}"
                            title="{{ video.title }}"
                        >
                            {{ video.title }}
                        </a>
                        <div class="meta">
                            {{ video.published_at | humanDate }} by
                            {% if video.channel_id %}
                                <b><a href="{{ url_for('view_channel', channel_id=video.channel_id) }}">
                                    {{ video.channel.display_name }}</a></b>
                            {% endif %}
                        </div>
                        <div class="extra">
                            {% if not video.channel_id %}
                                <div class="ui label">no-channel</div>
                            {% endif %}
                            {% if not video.published_at %}
                                <div class="ui label">unpublished</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            No videos to display.
        {% endfor %}

    </div>

    {% if page_num > 0 %}
        <a href="/new?page={{ page_num - 1 }}"
           class="ui left icon button">
            <i class="left arrow icon"></i>
        </a>
    {% endif %}
    {% if videos and videos|length == items_per_page %}
        <a href="/new?page={{ page_num + 1 }}"
           class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next</a>
    {% endif %}
{% endblock %}

{% block footer %}
    <br>
    <br>
    {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
