{% extends 'base.html' %}

{% block title %}Results for ...{% endblock %}

{% block content %}
    <p></p>
    <h3>Search Results</h3>
    <div class="ui relaxed items">

        {% for video in results %}
            <div class="item">
                <div class="ui small image">
                    <a href="{{ url_for('view_video', video_id=video.id) }}">
                        <img src="{{ guess_thumbnail_cdn_url(video.id) }}">
                    </a>
                </div>
                <div class="content">
                    <a class="header"
                       href="{{ url_for('view_video', video_id=video.id) }}">{{ video.title }}</a>
                    <div class="meta">
                        {{ video.published_at | humanDate }} by
                            <b><a href="{{ url_for('view_channel', channel_id=video.channel_id) }}">
                                {{ video.channel_name }}</a></b>
                    </div>
                </div>
            </div>
        {% else %}
            No results
        {% endfor %}

    </div>

    <div class="c-direction-buttons">
        {% if page_num > 0 %}
             <a href="/new?page={{ page_num - 1 }}"
               class="c-btn--primary c-direction-buttons__btn c-direction-buttons__btn--previous ui primary left labeled icon button">
                <i class="left arrow icon"></i>
            </a>
        {% endif %}
        {% if results and results|length == items_per_page %}
            <a href="/new?page={{ page_num + 1 }}"
               class="c-btn--primary c-direction-buttons__btn c-direction-buttons__btn--next ui primary right labeled icon button">
                <i class="right arrow icon"></i>
                Next</a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <br>
    <br>
    {% include 'partials/footer.html' %}
{% endblock %}


{% block scripts %}
{% endblock %}
