{% extends 'base.html' %}

{% block title %}Results for ...{% endblock %}

{% block content %}
    <h3>Search Results</h3>

    <ul class="c-videos-list">
        {% for video in results %}
            <li class="c-videos-list__item">
                <div class="c-video">
                    <a class="c-video__img" href="{{ url_for('view_video', video_id=video.id) }}">
                        <img src="{{ guess_thumbnail_cdn_url(video.id) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-poster="" class="c-video__play-icon"><path fill="currentColor" d="M1.425.35L14.575 8l-13.15 7.65V.35z"></path></svg>
                    </a>
                    <div class="c-video__content">
                        <a class="c-video__title"
                           href="{{ url_for('view_video', video_id=video.id) }}">{{ video.title }}</a>
                        <div class="c-video__footer">
                            {{ video.published_at | humanDate }} by
                                <a href="{{ url_for('view_channel', channel_id=video.channel_id) }}">
                                    {{ video.channel_name }}</a>
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            <li class="c-videos-list__item c-videos-list__item--no-results c-no-results">
                <img class="c-no-results__img" src="{{ url_for('static', filename='img/no-results.svg') }}" class="logo" alt="">
                <h3 class="c-no-results__title">No results found</h3>
                <p>Try searching again using broader keywords.</p>
            </li>
        {% endfor %}
    </ul>

    <div class="c-direction-buttons">
        {% if page_num > 0 %}
             <a href="/new?page={{ page_num - 1 }}"
               class="c-btn--primary c-direction-buttons__btn c-direction-buttons__btn--previous ui primary left labeled icon button">
                <i class="left arrow icon"></i>
            </a>
        {% endif %}
        {% if results and results|length == items_per_page %}
            <a href="/new?page={{ page_num + 1 }}"
               class="c-btn--primary c-direction-buttons__btn c-direction-buttons__btn--next ui primary right labeled icon button">
                <i class="right arrow icon"></i>
                Next</a>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
