{% extends 'base.html' %}

{% set pageClass = "has-header-without-bottom-margin" %}
{% block title %}{{ video.title }}{% endblock %}
{% block meta_title %}{{ video.title }}{% endblock %}
{% block meta_description %}
  {{ description2text(video.description) | truncate(250) }}
{% endblock %}
{% block meta_image %}{{ guess_thumbnail_cdn_url(video.id) }}{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}
{% set showFooter = true %}


{% block player %}
  <div class="c-video-player o-ratio o-ratio--16:9">
    <iframe id="embedded-player"
            src="{{ player_url() }}/?videoId={{ video.id }}&autoPlay=true&hideLogo=true{{ timer }}"
            frameborder="0" scrolling="0" allowfullscreen allow="autoplay">
    </iframe>
  </div>
{% endblock %}

{% block content %}


  <div class="ui c-video-description u-clearfix">
    {% if not video.published_at %}
      <div class="ui warning message">
        <div class="header">
          This video has not been published!
        </div>
        To make this video publicly accessible,
        please <a href="{{ url_for('upload.publish_to_ethereum', video_id=video.id) }}">publish</a>
        it.
        Unpublished videos will be deleted 7 days after uploading.
      </div>
    {% endif %}
    <h2 class="c-video-description__title">{{ video.title }}</h2>
    <div class="content">
      <header class="c-video-description__header">
        <div class="c-video-description__header__item">
          <div class="o-flag o-flag--small">
            <div class="o-flag__img">
              <a href="{{ url_for('view_channel', channel_id=video.channel.id) }}">
                <img class="o-avatar o-avatar--large"
                     src="{{ guess_avatar_cdn_url(video.channel_id, 'small') }}"
                     onerror="if (this.src !== '{{ avatar_fallback }}') this.src = '{{ avatar_fallback }}'">
              </a>
            </div>
            <div class="o-flag__body">
              <p>
                <a href="{{ url_for('view_channel', channel_id=video.channel.id) }}">
                  {{ video.channel.display_name }}</a>
                {% if current_user and current_user.id != video.channel.user_id %}
                  <a href="javascript:"
                     id="follow-button"
                     style="display: none;"
                     class="ui button mini basic u-margin-left-tiny">+ Follow</a>
                  <a href="javascript:"
                     id="un-follow-button"
                     style="display: none;"
                     class="ui button mini basic u-margin-left-tiny">Unfollow</a>
                {% endif %}
              </p>
              <p>Published on {{ video.published_at | humanDate }}</p>
            </div>
          </div>
        </div>
        <div class="c-video-description__header__item">
          <div class="o-grid o-grid--middle o-grid--auto o-grid--small">
            {% if can_vote(video.published_at) %}
              <div class="o-grid__cell">
                <div class="ui mini horizontal statistic u-margin-right"
                     data-title="Support this creator and earn rewards"
                     data-content="If you enjoyed this video and would like to support the creator, please consider voting.
                               Votes will be tallied up in the upcoming distribution game, which will reward quality content creators and curators with VIEW Tokens."
                     data-variation="large wide"
                     data-position="bottom right">
                  <div class="value">
                    ···
                  </div>
                  <div class="label">
                    Votes
                  </div>
                </div>
                <div id="react-vote" class="u-inline-block"></div>
              </div>
            {% else %}
              <div class="o-grid__cell">
                  <a class="ui mini horizontal statistic" href="{{ url_for('game.video_votes', video_id=video.id) }}">
                    <div class="value">
                      ...
                    </div>
                    <div class="label">
                      Tokens Earned
                    </div>
                  </a>
              </div>
            {% endif %}
            <div class="o-grid__cell">
              <div id="react-share" class="u-inline-block"></div>
            </div>

            <div class="o-grid__cell">
              <a class="c-link-neutral js-open-report-video-modal" href="" title="Report">
                {% include 'atoms/icon-flag.html' %}
              </a>
            </div>
          </div>
        </div>
      </header>

      {% if video.description %}
        <div class="c-video-description__text description Post js-video-description-text">
          {{ video.description | markdown }}
        </div>

        <a href="" id="description-show-more"
           class="c-video-description__read-more"
           style="display: none;">
          Read more &hellip;
        </a>
      {% endif %}
    </div>
  </div>

  {% include 'partials/disqus.html' %}

  <div class="ui modal c-modal c-modal--medium" id="modal-report-video">
    <i class="close icon small c-modal__close"></i>
    <header class="c-modal__header">Report this video</header>
    <form action="" class="content">
      <ul class="c-report-list">
        <li>
          <div class="o-flag o-flag--top o-flag--small">
            <div class="o-flag__img">
              <label class="c-input-radio">
                <input class="c-input-radio__input" type="radio" name="reportVideo" id="xxx" checked>
                <span class="c-input-radio__faux-input"></span>
              </label>
            </div>
            <div class="o-flag__body">
              <dl>
                <dt><label for="xxx">XXX-rated</label></dt>
                <dd>This video contains explicit pornography, advertises a product or service of an erotic nature, or seems primarily focused on sexual stimulation.</dd>
              </dl>
            </div>
          </div>
        </li>
        <li>
          <div class="o-flag o-flag--top o-flag--small">
            <div class="o-flag__img">
              <label class="c-input-radio">
                <input class="c-input-radio__input" type="radio" name="reportVideo" id="stolenContent">
                <span class="c-input-radio__faux-input"></span>
              </label>
            </div>
            <div class="o-flag__body">
              <dl>
                <dt><label for="stolenContent">Uploader did not make this</label></dt>
                <dd>The person who uploaded this video obviously didn’t make it (it’s a TV show, movie trailer, or ripped from elsewhere the web.)</dd>
              </dl>
            </div>
          </div>
        </li>
        <li>
          <div class="o-flag o-flag--top o-flag--small">
            <div class="o-flag__img">
              <label class="c-input-radio">
                <input class="c-input-radio__input" type="radio" name="reportVideo" id="notPlayingNice">
                <span class="c-input-radio__faux-input"></span>
              </label>
            </div>
            <div class="o-flag__body">
              <dl>
                  <dt><label for="notPlayingNice">Socially undesirable</label></dt>
                <dd>This video contains harassment, incites hatred, or depicts extreme real-life violence.</dd>
              </dl>
            </div>
          </div>
        </li>
        <li>
          <div class="o-flag o-flag--top o-flag--small">
            <div class="o-flag__img">
              <label class="c-input-radio">
                <input class="c-input-radio__input" type="radio" name="reportVideo" id="moneymaker">
                <span class="c-input-radio__faux-input"></span>
              </label>
            </div>
            <div class="o-flag__body">
              <dl>
                <dt><label for="moneymaker">Scam</label></dt>
                <dd>This video is an advertisement, commercial, or is a video that actively promotes an
                illegitimate (fraudulent) product or service. Example: Advertisement for a ponzi
                scheme.</dd>
              </dl>
            </div>
          </div>
        </li>
        <li>
          <div class="o-flag o-flag--top o-flag--small">
            <div class="o-flag__img">
              <label class="c-input-radio">
                <input class="c-input-radio__input" type="radio" name="reportVideo" id="spam">
                <span class="c-input-radio__faux-input"></span>
              </label>
            </div>
            <div class="o-flag__body">
              <dl>
                <dt><label for="spam">Spam</label></dt>
                <dd>This video is primarily designed to drive traffic to third party sites, use Search Engine Optimization (SEO) to manipulate search rankings, or otherwise deceive or mislead the audience.</dd>
              </dl>
            </div>
          </div>
        </li>
      </ul>
      <div class="u-text-right u-margin-top-large">
        <button class="ui button large u-margin-right-tiny js-close-report-video-modal" type="reset">Cancel</button>
        <button class="ui button large c-btn--primary" type="submit">Report video</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {% if current_user.is_authenticated %}
    {% include 'partials/follow_js.html' %}
    <script type="application/javascript">
      $(function () {
        refreshFollowButton('{{ video.channel.id }}');
      });
    </script>
  {% endif %}

  <script type="application/javascript">
    // SEMANTIC.UI
    $(function () {
      $('.statistic').popup();
    });

    $('.js-open-report-video-modal').on('click', function(e) {
      e.preventDefault();
      $('#modal-report-video').modal('show');
    });

    $('.js-close-report-video-modal').on('click', function(e) {
      $('#modal-report-video').modal('hide');
    });
  </script>

  <script type="application/javascript">
    // Show more logic (description)
    $(function () {
      const visibleHeight = 140;
      let el = $('.js-video-description-text');
      if (el.height() > visibleHeight) {
        el.css({height: visibleHeight + "px"});
        el.addClass('c-video-description__text--truncated');
        $('#description-show-more')
          .show()
          .on('click', (e) => {
            e.preventDefault();
            $('#description-show-more').hide();
            el.css({height: 'auto'});
            el.removeClass('c-video-description__text--truncated');
          });
      }
    });
  </script>

  {% if can_vote(video.published_at) %}
    <script type="application/javascript">
      function refreshVotingStats() {
        let url = `{{ url_for('api.votesapi') }}?video_id={{ video.id }}`;
        fetch(url).then(function (response) {
          if (!response.ok) {
            console.log(response);
            return;
          }
          response.json().then(voteStats => {
            $('.statistic .value').text(voteStats.count);
            $('.statistic .label')
              .text(voteStats.count === 1 ? 'Vote' : 'Votes')
          })
        }).catch(function (err) {
          console.log(err)
        });
      }

      $(function () {
        refreshVotingStats();
      });
    </script>
  {% else %}
    <script type="application/javascript">
      const numberWithCommas = (x) => {
        return Math.round(x).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      };

      let isValidObj = function (obj) {
        return !(
          obj === undefined
          || obj === ''
          || obj === null);
      };

      function refreshRewardStats() {
        let url = `{{ url_for('api.rewardsapi') }}?video_id={{ video.id }}`;
        fetch(url).then(function (response) {
          if (!response.ok) {
            console.log(response);
            return;
          }
          response.json().then(rewardStats => {
            if (isValidObj(rewardStats['creator_rewards'])) {
              $('.statistic .value').text(numberWithCommas(rewardStats['creator_rewards']))
            } else {
              $('.statistic .value').text('');
              $('.statistic .label').text('When rewards?');
            }
          })
        }).catch(function (err) {
          console.log(err)
        });
      }

      $(function () {
        refreshRewardStats();
      });
    </script>
  {% endif %}

{% endblock %}
