<div class="c-hero">
  <h1 class="c-hero__title">Video beyond ads</h1>
  <p>Earn cryptocurrency for publishing high quality content. <br>Enjoy videos without ads. <a href="{{ url_for('faq') }}">Learn more</a></p>

  <ul class="c-hero__layout-buttons o-grid o-grid--middle o-grid--auto">
    <li class="o-grid__cell">
      <a href="{{ url_for('security.register') }}" class="c-btn--primary ui primary  button large">Sign Up</a>
    </li>
    <li class="o-grid__cell">
      <a class="c-hero__secondary-cta" href="https://discordapp.com/invite/MkTqjnG">Join us on Discord</a>
    </li>
  </ul>
</div>
