<div class="c-hero c-hero--learn-more">
  <div class="o-grid o-grid--center o-grid--large o-grid--auto">
    <div class="o-grid__cell">
      <a href="https://medium.com/view-ly" target="_blank">
        {% include 'atoms/icon-medium.html' %}
        Get informed on our blog
      </a>
    </div>
    <div class="o-grid__cell">
      <a href="{{ url_for('game.index') }}">
        {% include 'atoms/icon-trophy.html' %}
        Learn about the Distribution Game
      </a>
    </div>
    <div class="o-grid__cell">
      <a href="https://discordapp.com/invite/MkTqjnG" target="_blank">
        {% include 'atoms/icon-discord.html' %}
        Join our Discord community
      </a>
    </div>
  </div>
</div>
