<div class="c-hero c-hero--about {% if not hideAboutHeroAboveFooter %}u-margin-bottom-none{% endif %}">
  <div class="o-wrapper">
    <div class="o-grid o-grid--middle o-grid--huge o-grid--center">
      <div class="o-grid__cell u-2/5@extralarge u-margin-bottom-huge u-margin-bottom-none@extralarge">
        <div class="c-hero--about__graphic">
          <h2 class="c-hero--about__title">About Viewly</h2>
        </div>
      </div>
      <div class="o-grid__cell u-3/4@large u-1/2@extralarge">
        <div class="c-hero--about__text">
          <h3 class="c-hero--about__heading">We believe there is a better way to content monetization.</h3>
          <p>Our mission is to develop sustainable ways for video creators to monetize their content. We envision the future beyond ads.</p>
          <p>That’s why we’re building Viewly, a social video platform:</p>

          <ul>
            <li>Without pesky ads, where users’ privacy is respected.</li>
            <li>Where communities thrive and engagement between fans and creators is highly encouraged.</li>
            <li>Where creators with small, medium or large‐sized audiences will be able to sustain themselves through modern monetisation: a combination of fan patronage and commerce.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
