<header class="c-header">
  <div class="c-header__item">
    <a class="c-logo" href="/">
      <img src="{{ url_for('static', filename='img/logo-lg2.png') }}">
      Viewly <span>&alpha;</span>
    </a>
    {% if active_menu == 'dgame' %}
      {% include 'nav-dgame.html' %}
    {% else %}
      {% include 'partials/nav-primary.html' %}
    {% endif %}
  </div>

  <div class="c-header__item">
    <div class="c-header__options">
      <div class="c-header__search c-header__search--hidden@small js-search">
        <a href="" class="c-header__search__close js-close-search">
          {% include 'atoms/icon-close.html' %}
        </a>
        <div id="search-box" class="ui action icon input js-search-box">
          <button class="ui button js-search-button">{% include 'atoms/icon-search.html' %}</button>
          <input class="c-header__search__input js-search-input" placeholder="Search" value="{{ query }}">
        </div>
      </div>
      <div class="item c-header__options__mobile-search">
        <a href="" class="js-show-search">
          {% include 'atoms/icon-search.html' %}
        </a>
      </div>
      {% if current_user.is_active %}
        <div class="c-dropdown ui item">
          {% include 'atoms/icon-plus.html' %}
          <div class="c-dropdown__menu">
            {% if current_user.can_upload %}
              <a href="{{ url_for('upload.upload_videos') }}">
                {% include 'atoms/icon-upload.html' %}
                Upload
              </a>
            {% endif %}
            <a href="{{ url_for('channel.create') }}">{% include 'atoms/icon-new-channel.html' %} New Channel</a>
          </div>
        </div>
        <div class="c-dropdown ui item">
          <img class="c-header__avatar" src="https://i.imgur.com/32AwiVw.jpg">
          <i class="dropdown icon"></i>
          <div class="c-dropdown__menu">
            <a href="{{ url_for('edit_profile') }}"><i class="list icon"></i> My Channels</a>
            <a href="{{ url_for('security.change_password') }}"><i class="key icon"></i> Change Password</a>
            <a href="{{ url_for('security.logout') }}"><i class="settings icon"></i> Log Out</a>
          </div>
        </div>
      {% else %}
        <div class="item">
          <a href="{{ url_for('security.login') }}" class="">Login</a>
        </div>
        <div class="item">
          <a href="{{ url_for('security.register') }}" class="c-header__btn ui primary basic button">Sign Up</a>
        </div>
      {% endif %}
    </div>
  </div>
</header>


<script type="application/javascript">
  // SEARCH BOX
  $(function () {
    const viewport = $('body');
    const showMobileSearch = $('.js-show-search');
    const closeMobileSearch = $('.js-close-search');
    const searchForm = $('.js-search');
    const searchBox = $('.js-search-box');
    const searchInput = $('.js-search-input');
    const searchButton = $('.js-search-button');

    showMobileSearch.on('click', function(e) {
      e.preventDefault();
      searchForm.removeClass('c-header__search--hidden@small');
      viewport.addClass('has-search-activated');
    });

    closeMobileSearch.on('click', function(e) {
      e.preventDefault();
      searchForm.addClass('c-header__search--hidden@small');
      viewport.removeClass('has-search-activated');
    });

    viewport.on('click', function(e) {
      const targetSearchForm = $(e.target.closest(searchForm.selector));
      const targetShowMobileSearch = $(e.target.closest(showMobileSearch.selector));

      if (targetSearchForm.length === 0 && targetShowMobileSearch.length === 0) {
        viewport.removeClass('has-search-activated');
        searchForm.addClass('c-header__search--hidden@small');
      }
    });

    const performSearch = function () {
      let query = searchInput.val();

      if (query.length > 0) {
        searchBox.addClass('disabled');
        window.location = "/search?q=" + query;
      }
    };

    searchButton.on('click', function () {
      performSearch();
    });

    searchInput.on('focus', function (e) {
      viewport.addClass('has-search-activated');
    });

    searchInput.on('keypress', function (e) {

      if (e.which == 13) {
        performSearch();
        return false;
      }
    });
  });
</script>
