<div class="c-header">
    <a class="c-logo" href="/">
        <img src="{{ url_for('static', filename='img/favicon.ico') }}">
        Viewly &alpha;
    </a>
    <div class="c-header__search">
        <div id="search-box" class="ui action icon input">
            <button class="ui button"><i class="search icon" style="margin-right: 0"></i></button>
            <input placeholder="Search" value="{{ query }}">
        </div>
    </div>
    <div class="c-header__options">
        {% if current_user.is_active %}
            {% if current_user.can_upload %}
                <a class="item {% if active_menu == 'upload' %}active{% endif %}"
                   href="{{ url_for('upload.upload_videos') }}">
                    <i class="cloud upload icon"></i> Upload</a>
            {% endif %}
            <div class="ui dropdown item">
                <i class="list icon"></i> Channels
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url_for('edit_profile') }}"><i
                            class="browser icon"></i> My Channels</a>
                    <a class="item" href="{{ url_for('channel.create') }}"><i
                            class="plus icon"></i> Create a Channel</a>
                </div>
            </div>
            <div class="ui dropdown item">
                <img src="https://i.imgur.com/32AwiVw.jpg" class="ui circular avatar image">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url_for('edit_profile') }}"><i
                            class="edit icon"></i> Edit Profile</a>
                    <a class="item" href="{{ url_for('security.logout') }}"><i
                            class="settings icon"></i> Log Out</a>
                </div>
            </div>
        {% else %}
            <div class="item">
                <a href="{{ url_for('security.login') }}"
                   class="">Login</a>
            </div>
            <div class="item">
                <a href="{{ url_for('security.register') }}"
                   class="c-header__btn ui primary basic button">Sign Up</a>
            </div>
        {% endif %}
    </div>
</div>


<script type="application/javascript">
    // SEARCH BOX
    $(function () {
        var performSearch = function () {
            var query = $("#search-box input").val();
            if (query.length > 0) {
                $("#search-box").addClass('disabled');
                window.location = "/search?q=" + query;
            }
        };
        $("#search-box .button").click(function () {
            performSearch()
        });
        $("#search-box input").keypress(function (e) {
            if (e.which == 13) {
                performSearch();
                return false;
            }
        });
    });
</script>
