<nav class="c-nav-primary">
  <ul>
    <li class="c-nav-primary__item is-current">
      <a href="" class="c-nav-primary__link">
        {% include 'atoms/icon-feed.html' %}
        <span class="c-nav-primary__label">New</span>
      </a>
    </li>
    <li class="c-nav-primary__item">
      <a href="" class="c-nav-primary__link">
        {% include 'atoms/icon-trending.html' %}
        <span class="c-nav-primary__label">Trending</span>
      </a>
    </li>
    <li class="c-nav-primary__item">
      <a href="" class="c-nav-primary__link">
        {% include 'atoms/icon-discover.html' %}
        <span class="c-nav-primary__label">Discover</span>
      </a>
    </li>
  </ul>
</nav>
