<nav class="c-nav-primary">
  <ul>
    {% if current_user.is_authenticated %}
      <li
        class="c-nav-primary__item {% if request.path == '/feed' %}is-current{% endif %}">
        <a href="{{ url_for('feed') }}" class="c-nav-primary__link">
          {% include 'atoms/icon-feed.html' %}
          <span class="c-nav-primary__label">Feed</span>
        </a>
      </li>
    {% endif %}
    <li
      class="c-nav-primary__item {% if request.path == '/hot' %}is-current{% endif %}">
      <a href="{{ url_for('hot') }}" class="c-nav-primary__link">
        {% include 'atoms/icon-trending.html' %}
        <span class="c-nav-primary__label">Hot</span>
      </a>
    </li>
    <li class="c-nav-primary__item {% if request.path == '/new' %}is-current{% endif %}">
      <a href="{{ url_for('new') }}" class="c-nav-primary__link">
        {% include 'atoms/icon-discover.html' %}
        <span class="c-nav-primary__label">New</span>
      </a>
    </li>
  </ul>
</nav>
