<script type="application/javascript">
  window.walletConfig = {
    videoPublisherAddress: "{{ video_publisher_address() }}",
    videoPublisherAbi: {{ video_publisher_abi() | safe }},
    viewTokenAddress: "{{ view_token_address() }}",
    viewTokenAbi: {{ view_token_abi() | safe }},
    ethChainId: {% if eth_chain() == "kovan" %}42{% else %}1{% endif %},
    ethChain: "{{ eth_chain() }}",
    infuraKey: "{{ infura_key_fe() }}",
    authUrl: "/auth_token", {# TODO - load this from env ?? #}
    apiUrl: "/api",
    isAuthenticated: "{{ current_user.is_active }}" === "True",
  };
</script>
