/*------------------------------------*\
    #ALIASES FOR VARIABLES
\*------------------------------------*/

// Spacings
$spacing-unit:                          $inuit-global-spacing-unit;
$spacing-unit-tiny:                     $inuit-global-spacing-unit-tiny;
$spacing-unit-small:                    $inuit-global-spacing-unit-small;
$spacing-unit-large:                    $inuit-global-spacing-unit-large;
$spacing-unit-huge:                     $inuit-global-spacing-unit-huge;


// Headings
$font-size-h1:                          $inuit-font-size-h1;
$font-size-h2:                          $inuit-font-size-h2;
$font-size-h3:                          $inuit-font-size-h3;
$font-size-h4:                          $inuit-font-size-h4;
$font-size-h5:                          $inuit-font-size-h5;
$font-size-h6:                          $inuit-font-size-h6;
