/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    color: $global-link-color;
    transition: $global-transition;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
