


$color-white: #fff;
$color-black: #000;
$color-cyan: cyan;

$color-bg-black: #161616;
$global-border-radius: 4px;
$spacing-unit: 20px;
$spacing-unit-small: 10px;
$spacing-unit-large: 30px;
$global-font-size: 16px;


$color-red: #ff0264;
$color-transparent: transparent;

$color-background-almost-white:#fefefe;
$color-background-off-white: #fcfcfc;


$color-text-dark: #333;
$color-text-white: #fcfcfc;
$color-text-gray: #788187;
$color-text-gray-light: #A6B2BA;

$color-text-red: $color-red;

$color-border-light: #eee;
$color-border-light-lightest: #f6f6f6;
$color-border-dark: #232F38;
$color-border-dark-lightest: #2B3A45;

$font-primary: helvetica, sans-serif;
