
@import "variables";
@import "themes";
@import "mixins";
@import "buttons";


.theme-dark {
	background-color: $color-bg-black;
}

.theme-container {	
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
}

h1, h2, h3, h4, h5, h6, p, b, strong, em {
  @include themify($themes) {
    color: themed('textColorPrimary');
  }	
}


.text-link {
   @include themify($themes) {
    color: themed('textColorLink');
  }  
}

.ui.header {
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
}

.ui.menu {
  background-color: transparent;
   @include themify($themes) {
    border-bottom: themed('border');
  }
}

.ui.container {
  padding-top: 1em;
}

.ui.form li {
  color: $color-red;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui.table {
  background: transparent;
   @include themify($themes) {
    color: themed('textColorPrimary');
    border: themed('border');
  }  
}

.ui.table tr {
   @include themify($themes) {
    border-bottom: themed('borderMediumContrast');
  }  
}

.ui.table th, .ui.table td {
  padding: 14px 16px;
}


.theme-dark .ui.table thead th {
  background: #000;
  color: #fff;
}


.ui.celled.table tr td, .ui.celled.table tr th {
  @include themify($themes) {
      border-left: themed('border');
  }
}

.ui.table tr td {
   @include themify($themes) {
      border-top: themed('border');
  }
}



/* Search */

#search-box.ui.input input {
  background: transparent;
  @include themify($themes) {
    border: themed('borderMediumContrast');
  }
}

#search-box.ui.input input:focus, #search-box.ui.input.focus input {
  box-shadow: none;
  @include themify($themes) {
    border: themed('borderMediumContrast');
    background: transparent;
    color: themed('textColorPrimary');
  }
}

.logo-registration {
  width: 200px;
  height: auto;
}


.ui.form .field.error .input, .ui.form .field.error label, .ui.form .fields.error .field .input, .ui.form .fields.error .field label {
    color: $color-red;
}

.ui.positive.message {
  background-color: transparent;  
  box-shadow: 0 0 0 1px #00c88a inset, 0 0 0 0 transparent;
}


.error li {
  @include themify($themes) {
    color: themed('textColorAlert');
  }
}


.ui.menu:not(.vertical) .item {
  @include themify($themes) {
    color: themed('textColorPrimary');
    border-left: themed('border');
  }
}


.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0;
}

.ui.red.button:hover, .ui.red.buttons .button:hover {
    background-color: $color-red;
}



.template-publish-add-details {
  .ui.form .field > label {
    @include themify($themes) {
      color: themed('textColorPrimary');
    }
  }
  .ui.segment.preview {
     background: transparent; 
     padding: 24px;
      @include themify($themes) {
        color: themed('textColorPrimary');
        border: themed('borderMediumContrast');
    }
  }
}


