
@import "variables";
@import "themes";
@import "mixins";
@import "buttons";


.theme-dark {
	background-color: $color-bg-black;
}

.theme-container {	
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
}

h1, h2, h3, h4, h5, h6, p, b, strong, em {
  @include themify($themes) {
    color: themed('textColorPrimary');
  }	
}

.ui.header {
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
}

.ui.menu {
  background-color: transparent;
   @include themify($themes) {
    border-bottom: themed('border');
  }
}

.ui.container {
  padding-top: 1em;
}

.ui.form li {
  color: $color-red;
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Search */

#search-box.ui.input input {
  background: transparent;
  @include themify($themes) {
    border: themed('borderMediumContrast');
  }
}

#search-box.ui.input input:focus, #search-box.ui.input.focus input {
  box-shadow: none;
  @include themify($themes) {
    border: themed('borderMediumContrast');
    background: transparent;
    color: themed('textColorPrimary');
  }
}

.logo-registration {
  width: 200px;
  height: auto;
}


.ui.form .field.error .input, .ui.form .field.error label, .ui.form .fields.error .field .input, .ui.form .fields.error .field label {
    color: $color-red;
}

.error li {
  @include themify($themes) {
    color: themed('textColorAlert');
  }
}