
@import "variables";
@import "themes";
@import "mixins";
@import "buttons";


.theme-dark {
	background-color: $color-bg-black;
}

.theme-container {	
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
}


h1, h2, h3, h4, h5, h6, p, ul, li, b, strong, em {
  @include themify($themes) {
    color: themed('textColorPrimary');
  }	
}

.ui.header {
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
}

.ui.menu {
  background-color: transparent;
   @include themify($themes) {
    border-bottom: themed('border');
  }
}

.ui.container {
  padding-top: 1em;
}


/* Search */

#search-box.ui.input input {
  background: transparent;
  @include themify($themes) {
    border: themed('borderMediumContrast');
  }
}

#search-box.ui.input input:focus, #search-box.ui.input.focus input {
  box-shadow: none;
  @include themify($themes) {
    border: themed('borderMediumContrast');
    background: transparent;
    color: themed('textColorPrimary');
  }
}

