/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.o-icon {
    display: inline-block;
    fill: currentColor;
    font-size: 24px;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

.o-icon--tiny {
    font-size: 14px;
}

.o-icon--small {
    font-size: 18px;
}

.o-icon--large {
    font-size: 32px;
}

.o-icon--huge {
    font-size: 40px;
}
