/*
 * Implementation of themes
 */
.theme-dark {
  background-color: #161616; }

.theme-light .theme-container {
  color: #333333; }
.theme-dark .theme-container {
  color: #fcfcfc; }

.theme-light h1, .theme-light h2, .theme-light h3, .theme-light h4, .theme-light h5, .theme-light h6, .theme-light p, .theme-light ul, .theme-light li, .theme-light b, .theme-light strong, .theme-light em {
  color: #333333; }
.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6, .theme-dark p, .theme-dark ul, .theme-dark li, .theme-dark b, .theme-dark strong, .theme-dark em {
  color: #fcfcfc; }

.theme-light .ui.header {
  color: #333333; }
.theme-dark .ui.header {
  color: #fcfcfc; }
