.Post {
  font-size: 16px !important;
  line-height: 1.5;
}

.Post {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  max-width: 40em;
}
.Post img {
  max-width: 350px;
}
.Post h1, .Post h2, .Post h3, .Post h4, .Post h5, .Post h6 {
  font-weight: 600;
}
.Post h1 {
  margin: 2em 0 1em 0;
  font-size: 160%;
}
.Post h2 {
  margin: 2em 0 1em 0;
  font-size: 140%;
}
.Post h3 {
  margin: 1.72em 0 0.87em 0;
  font-size: 120%;
}
.Post h4 {
  margin: 1em 0 0.5em 0;
  font-size: 100%;
}
.Post h6 {
  margin: 1em 0 0.5em 0;
  font-size: 90%;
}
.Post code {
  padding: 0.2em;
  font-size: 85%;
  border-radius: 3px;
  border: none;
  background-color: #F4F4F4;
  font-weight: inherit;
}
.Post pre > code {
  display: block;
}
.Post p {
  margin: 0.5em 0 1em 0;
}
.Post strong {
  font-weight: 600;
}
.Post ol, .Post ul {
  margin-left: 1em;
}
.Post table td {
  word-break: normal;
}
