<div class="ui text container text-center">
    <div class="ui big breadcrumb">
        <a class="section {% if active_submenu == 'index' %}active{% endif %}"
           href="{{ url_for('.index') }}">
            Game</a>  -
        <a class="section {% if active_submenu == 'periods' %}active{% endif %}"
           href="{{ url_for('.list_periods') }}">
            Periods</a>  -
        <a class="section {% if active_submenu == 'rewards' %}active{% endif %}"
           href="{{ url_for('.list_rewards') }}">
            Rewards</a>
    </div>
    <br>
    <br>
    <br>
</div>