{% extends 'base.html' %}
{% set active_menu = "dgame" %}
{% set active_submenu = "index" %}
{% block title %}Viewly Distribution Game{% endblock %}


{% block content %}
  <div class="ui segment">
    <h2>What is the distribution game?</h2>
    The distribution game is a content subsidy program, in which creators who publish high
    quality content compete for daily rewards. <br>The videos are rewarded
    with freshly minted VIEW Tokens in proportion to the cumulative stake of votes
    relative to all videos within a distribution period.
    <a href="https://github.com/Viewly/distribution-game" target="_blank">Learn more</a>.

    <h3>Key concepts</h3>
    <ul>
      <li>
        <b>Rewards Pool</b> is a daily allocation of VIEW Tokens to be given out to
        content creators.
      </li>
      <li>
        <b>Period</b> is a 24 hour window which binds the videos published within said
        window to its respective rewards pool.
      </li>
      <li>
        <b>Min Reward</b> is a threshold an individual video must reach to be eligible for payout.
        Videos with threshold notwithstanding will have their reward nullified.
      </li>
    </ul>

    <iframe width="100%" height="700" frameborder="0" scrolling="no"
            src="//plot.ly/~furion/259.embed?link=false"></iframe>
  </div>

{% endblock %}
