<nav class="c-nav-primary">
  <ul>
    <li
      class="c-nav-primary__item {% if active_submenu == 'index' %}is-current{% endif %}">
      <a href="{{ url_for('.index') }}" class="c-nav-primary__link">
        <span class="c-nav-primary__label">Game</span>
      </a>
    </li>
    <li class="c-nav-primary__item {% if active_submenu == 'periods' %}is-current{% endif %}">
      <a href="{{ url_for('.list_periods') }}" class="c-nav-primary__link">
        <span class="c-nav-primary__label">Periods</span>
      </a>
    </li>
    <li class="c-nav-primary__item {% if active_submenu == 'rewards' %}is-current{% endif %}">
      <a href="{{ url_for('.list_rewards') }}" class="c-nav-primary__link">
        <span class="c-nav-primary__label">Rewards</span>
      </a>
    </li>
  </ul>
</nav>
