{% macro render_field_with_errors(field) %}
    <div class="field {% if field.errors %}error{% endif %}">
        {{ field.label(class_="c-label") }}
        {{ field(**kwargs)|safe }}
    </div>
    {% if field.errors %}
        <p class="form-error">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </p>
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
    <div class="field {% if field.errors %}error{% endif %}">
        asdfa{{ field.label(class_="c-label") }}
        {{ field(**kwargs)|safe }}
    </div>
    {% if field.errors %}
        <p class="form-error">{{ field.errors.0 }}</p>
    {% endif %}
{% endmacro %}
