{% extends 'base_auth.html' %}
{% block title %}Request Password Reset{% endblock %}

{% block switch %}
    Don't have an account?
    <a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Register</a>
{% endblock %}

{% block content %}
    <div class="c-auth__main__header">
      <h2 class="c-auth__main__title">{{ _('Forgot your password?') }}</h2>
      <p>Don't worry! Enter your email address and we'll get you back on track.</p>
    </div>

    <form class="ui form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        {{ render_field_with_errors(forgot_password_form.email) }}

        <button class="c-btn--primary ui blue button large">Request password reset</button>
    </form>
{% endblock %}
