{% extends 'base_auth.html' %}
{% block title %}Viewly Login{% endblock %}

{% block switch %}
  Don't have an account?
  <a href="
    {{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Register</a>
{% endblock %}

{% block content %}
  <div class="c-auth__main__header">
    <h2 class="c-auth__main__title">Log in</h2>
    <p>Welcome back!</p>
  </div>

  <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="ui form">
    {{ login_user_form.hidden_tag() }}
    {{ render_field_with_errors(login_user_form.email) }}
    {{ render_field_with_errors(login_user_form.password) }}

    <div class="c-field--forgot-password o-grid o-grid--auto o-grid--between">
      <div class="o-grid__cell">
        {{ render_checkbox_field(login_user_form.remember) }}
      </div>
      <div class="o-grid__cell">
        <a href="{{ url_for_security('forgot_password') }}">Forgot password?</a>
      </div>
    </div>
    {{ recaptcha }}
    <button class="c-btn--primary ui blue button large u-margin-top">Log In</button>
  </form>
{% endblock %}
