{% extends 'base_auth.html' %}
{% block title %}Viewly Login{% endblock %}

{% block content %}
    <div class="c-auth__main__header">
        <h2 class="c-auth__main__title">{{ _('Log in to View.ly') }}</h2>
        <p>Welcome back! Please log in to your account.</p>
    </div>

    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="ui form">
        {{ login_user_form.hidden_tag() }}
        {{ render_field_with_errors(login_user_form.email) }}
        {{ render_field_with_errors(login_user_form.password) }}
        {{ render_checkbox_field(login_user_form.remember) }}
        {#        {{ render_field(login_user_form.next) }}#}
        {#        {{ render_field(login_user_form.submit) }}#}
        <button class="c-btn--primary ui blue button large u-margin-top">Log In</button>
    </form>
{% endblock %}
