{% extends 'base_auth.html' %}
{% block title %}Viewly Registration{% endblock %}

{% block switch %}
    Already have an account? <a href="/login">Log in</a>
{% endblock %}

{% block content %}
    <div class="c-auth__main__header">
        <h2 class="c-auth__main__title">{{ _('Register') }}</h2>
        <p>Welcome! Please enter your account details.</p>
    </div>

    <form class="ui form" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.email) }}
        {{ render_field_with_errors(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm) }}
        {% endif %}

        <button class="c-btn--primary ui blue button large u-margin-top">Register</button>
    </form>
{% endblock %}
