{% extends 'base_auth.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="c-auth__main__header">
    <h2 class="c-auth__main__title">{{ _('Reset password') }}</h2>
  </div>

  <form class="ui form" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST"
        name="reset_password_form">
    {{ reset_password_form.hidden_tag() }}
    {{ render_field_with_errors(reset_password_form.password) }}
    {{ render_field_with_errors(reset_password_form.password_confirm) }}

    <button class="c-btn--primary ui blue button large">Reset Password</button>
  </form>
{% endblock %}
