{% extends 'base.html' %}
{% set active_menu = "upload" %}
{% block title %}Viewly &bull; Upload{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='node_modules/fine-uploader/s3.fine-uploader/fine-uploader-new.css') }}">
    <script src="{{ url_for('static', filename='node_modules/fine-uploader/s3.fine-uploader/s3.fine-uploader.min.js') }}"></script>
    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                     class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Upload a file</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"
                          aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
{% endblock %}

{% block content %}
    <div class="ui text container text-center">

        <div id="processing" class="ui positive message" style="display: none;">
            <div class="ui horizontal divider">Uploading...</div>
        </div>

        <div class="upload-area">
            <div class="ui horizontal divider">Upload your video files</div>
            <div id="fine-uploader"></div>

            <div id="next_steps" class="text-center" style="display: none;">
                <br>
                    <p>If you're done uploading your files, you can proceed:</p>
                    <a href="list_of_unpublished_videos" class="ui button huge blue">Publish your video(s)</a>
                <br>

            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            var uploader = new qq.s3.FineUploader({
                debug: true,
                multiple: true,
                element: document.getElementById('fine-uploader'),
                request: {
                    endpoint: '{{ s3_bucket_name }}.s3-{{ s3_bucket_region }}.amazonaws.com',
                    accessKey: '{{ s3_user_access_key }}'
                },
                objectProperties: {
                    region: '{{ s3_bucket_region }}'
                },
                signature: {
                    version: 4,
                    endpoint: '{{ url_for('upload.s3_signature') }}'
                },
                uploadSuccess: {
                    endpoint: '{{ url_for('upload.s3_success') }}'
                },
                chunking: {
                    enabled: true,
                    partSize: 5242880 * 3, // 15 MB
                    concurrent: {
                        enabled: true
                    }
                },
                validation: {
                    allowedExtensions: ["mov", "mp4", "mkv", "webm"],
                    //acceptFiles: "video/*",
                    sizeLimit: 1000 * 1000 * 1000 // 1 GB
                    //itemLimit: 1
                },
                resume: {
                    enabled: true
                },
                retry: {
                    enableAuto: true,
                    showButton: true
                },
                deleteFile: {
                    enabled: true,
                    endpoint: 's3/delete' // don't use url_for here
                },
                callbacks: {
                    onComplete: function (id, name, responseJSON, xhr) {
                        if (responseJSON.success) {
                            // go to publishing flow
                            $('#next_steps').show();
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
