{% extends 'base.html' %}
{% set active_menu = "publish" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Viewly &bull; Publish{% endblock %}

{% block content %}
    <br>
    <div class="ui text container text-center">
        {% if error %}
            <p class="ui red message close">{{ error }}</p>
            <br>
        {% endif %}
    </div>
    <div class="ui two column grid container">
        <div class="six wide column">
            <h3 class="ui dividing header">Publish the Video</h3>
            <form method="post" class="ui form">
                {{ form.csrf_token }}
                {{ render_field(form.title) }}
                {{ render_field(form.description) }}

                <button class="ui blue button">Publish</button>
                <br>
            </form>
        </div>
        <div class="ten wide column">
            <h3 class="ui dividing header">Preview</h3>
            <div id="player"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var loadPlayer = function () {
            var player = new Clappr.Player({
                source: '',
                poster: '',
                mute: false,
                height: 360,
                width: '100%'
            });

            var playerElement = document.getElementById("player");
            player.attachTo(playerElement);
        };

        // start here
        $(function () {
            loadPlayer();
        });
    </script>
{% endblock %}
