{% extends 'base.html' %}
{% set active_menu = "publish" %}
{% set active_submenu = "channel" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Add to Channel{% endblock %}

{% block content %}
    {% include '_breadcrumbs.html' %}
    <div class="ui text container text-center">
        {% if not video.file_mapper.thumbnail_files
          or get_transcoding_status(video.id) != 'complete' %}
            <div class="ui horizontal divider">Pending</div>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Transcoding</th>
                    <th>Cover Image</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ get_transcoding_status(video.id).upper() }}</td>
                    <td>
                        {% if video.file_mapper.thumbnail_files %}
                            <i class="checkmark icon green"></i>
                        {% else %}
                            {% if video.file_mapper.s3_upload_thumbnail_key %}
                                PROCESSING
                            {% else %}
                                <i class="remove icon red"></i>
                                <a href="{{ url_for('.publish_add_thumbnails', video_id=video.id) }}">Set
                                    Cover Image</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <p><i>You will be able to publish the video after transcoding completes.</i>
            </p>
        {% else %}
            <div class="ui horizontal divider">Video Preview</div>
            <div id="player"></div>
            <div class="ui horizontal divider">Choose a channel</div>
            {% if channels %}
                <div class="ui form text text-left">
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Channel</div>
                            <div class="menu">
                                {% for channel in channels %}
                                    <div class="item"
                                         data-value="{{ channel.id }}">{{ channel.display_name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="field">
                            <br>
                            <a href="javascript:"
                               id="publish-video"
                               class="ui button blue huge">Publish</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>You don't have any channels yet.
                    <a href="{{ url_for('channel.create') }}">Create one</a> first.</p>
            {% endif %}

        {% endif %}
    </div>

    <div class="ui mini modal">
        <div class="header">Channel needed</div>
        <div class="content">
            <p>Please <b>select a channel</b> to publish your video to.</p>
        </div>
        <div class="actions">
            <div class="ui blue ok button">
                <i class="checkmark icon"></i>
                OK
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {% if get_transcoding_status(video.id) in ['pending', 'processing'] %}
        <script>
            setInterval(function () {
                window.location.reload();
            }, 15 * 1000);
        </script>
    {% endif %}

    <script src="{{ url_for('static', filename='node_modules/clappr/dist/clappr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/dash-shaka-playback/dist/dash-shaka-playback.min.js') }}"></script>
    <script>
        var loadPlayer = function () {
            var player = new Clappr.Player({
                source: '{{ source.video }}',
                poster: '{{ source.poster }}',
                mute: false,
                height: 360,
                width: '100%',
                autoPlay: false,
                plugins: [
                    DashShakaPlayback
                ]
            });
            var playerElement = document.getElementById("player");
            player.attachTo(playerElement);
        };

        var publishForm = function () {
            $('#publish-video').click(function () {
                var channel_id = $(".dropdown").dropdown('get value')[4];
                if (!channel_id) {
                    $('.mini.modal').modal('show');
                    return;
                }
                $.post(
                    window.location.href,
                    {channel_id: channel_id},
                    function () {
                    }, 'json')
                    .done(function (data) {
                        window.location.replace(
                            "{{ url_for('.publish_to_ethereum', video_id=video.id) }}")
                    })
                    .fail(function () {
                            window.alert('Error occurred while publishing')
                        }
                    );
            })
        };

        // start here
        $(function () {
            loadPlayer();
            publishForm();
        });
    </script>
{% endblock %}