/*------------------------------------*\
    #SHAME
\*------------------------------------*/

body {
    background-color: $global-background-color;
    color: $global-text-color;
    overflow-x: hidden;
    padding-top: $header-height + $spacing-unit-large;

    &.c-page-view {
        padding-top: $header-height;
    }

    &.c-page-auth {
        padding-top: 0;
    }
}

.button {
    border-radius: 2px !important;
    white-space: nowrap;
}

.c-btn--primary {
    background-color: color('brand-secondary') !important;
    color: #fff !important;
    font-weight: 400 !important;

    &:hover {
        background-color: darken(color('brand-secondary'), 2%) !important;
    }
}

.c-btn--secondary {
    background-color: color('brand-primary') !important;
    color: #fff !important;
    font-weight: 400 !important;

    &:hover {
        background-color: darken(color('brand-primary'), 2%) !important;
    }
}

.c-field {
    margin-bottom: $spacing-unit !important;

    input {
        background-color: #fdfdfd !important;
        border-radius: 2px !important;
        border-width: 2px !important;
        padding-top: .85em !important;
        padding-bottom: .85em !important;
    }

    &:not(.error) {
        input {
            border-color: lighten(#d7d7d7, 5%) !important;

            &:hover {
                border-color: lighten(#d7d7d7, 1%) !important;
            }

            &:focus {
                border-color: color('brand-secondary') !important;
            }
        }
    }
}

.c-field--forgot-password {
    margin-top: -$spacing-unit-small;
    margin-bottom: $spacing-unit;

    a {
        color: #a5a5a9;
        font-weight: normal;

        &:hover {
            color: color('brand-secondary');
            text-decoration: none;
        }
    }
}


.c-no-results {
    margin-top: $spacing-unit-huge;
    text-align: center;

    @include mq(medium) {
        margin-top: 100px;
    }
}

    .c-no-results__img {
        display: block;
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
        width: 55%;

        @include mq(medium) {
            width: 100%;
        }
    }

    .c-no-results__title {
        font-weight: 700;
        margin-bottom: $spacing-unit-small;
    }


.c-widget {
    display: inline-block;
    position: relative;

    .o-icon {
        font-size: 12px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

    .c-widget__action {
        background-color: color('brand-secondary');
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        height: 1em;
        width: 1em;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;

        &:hover {
            background-color: darken(color('brand-secondary'), 4%);
            color: #fff;
            text-decoration: none;
        }
    }




.c-label {
    font-size: 11px !important;
    text-transform: uppercase !important;
}

.c-checkbox {
    vertical-align: baseline !important;
}
