/*------------------------------------*\
    #SHAME
\*------------------------------------*/

/**
 * 1. Since header is fixed position, we need to set its bottom margin in a
 *    different way (via faux margin).
 * 2. Remove the faux bottom margin for pages where we don't need the gap
 *    between header and the content.
 */
body {
    background-color: $global-background-color;
    color: $global-text-color;
    overflow-x: hidden;
    padding-top: $header-height + $spacing-unit-large; /* [1] */

    &.has-header-without-bottom-margin {
        padding-top: $header-height; /* [2] */
    }

    &.c-page-auth {
        padding-top: 0;
    }

    &::after {
        @include invisible;
        background: rgba(mix(#000, color('brand-secondary'), 90%), .7);
        content: '';
        transition: $global-transition;
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 900;
    }

    &.has-search-activated::after {
        @include visible;
    }
}

.c-modal {
    box-shadow: 0 5px 10px 0 rgba(#000, .05) !important;
    padding-top: $spacing-unit !important;

    p {
        color: lighten($global-text-color, 28%);
        margin-left: auto;
        margin-right: auto;
        max-width: 25em;

        &:not(:last-child) {
            margin-bottom: $spacing-unit;
        }
    }
}

.c-modal--narrow {
    max-width: 420px;
}

.c-modal--medium {
    max-width: 480px;
}

    /**
     * 1. Making this the same as `.content` from semantic UI.
     */
    .c-modal__header {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: $spacing-unit-small;
        padding-left: 1.5rem; /* [1] */
        padding-right: 1.5rem; /* [1] */
    }

    .c-modal__close {
        color: #aeafb3 !important;
        top: $spacing-unit-tiny !important;
        right: $spacing-unit-tiny !important;
    }

    .c-modal__title {
        font-size: 17px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: $spacing-unit-tiny;
    }

.c-metamask-logo {
    display: inline-block;
    margin-bottom: $spacing-unit-large;
    position: relative;
}

    .c-metamask-logo__icon-locked {
        background-color: #181818;
        border-radius: 50%;
        color: #fff;
        display: none;
        font-size: 44px;
        height: 1em;
        transform: translate(25%, 25%);
        width: 1em;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;

        .o-icon {
            font-size: 24px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .c-metamask-logo.is-locked & {
            display: block;
        }
    }

.o-grid--auto {
    > .o-grid__cell {
        flex: 0 0 auto;
        width: auto;
    }
}

.button {
    border-radius: 2px !important;
    white-space: nowrap;
}

.c-btn--primary {
    background-color: color('brand-secondary') !important;
    color: #fff !important;
    font-weight: 400 !important;

    &:hover {
        background-color: darken(color('brand-secondary'), 2%) !important;
    }
}

.c-btn--secondary {
    background-color: color('brand-primary') !important;
    color: #fff !important;
    font-weight: 400 !important;

    &:hover {
        background-color: darken(color('brand-primary'), 2%) !important;
    }
 }

/**
 * Button with download icon.
 */
.c-btn--with-icon {
    align-items: center !important;
    display: inline-flex !important;

    .o-icon {
        margin-right: $spacing-unit-tiny;
    }
}

.c-field {
    margin-bottom: $spacing-unit !important;

    input {
        background-color: #fdfdfd !important;
        border-radius: 2px !important;
        border-width: 2px !important;
        padding-top: .85em !important;
        padding-bottom: .85em !important;
    }

    &:not(.error) {
        input {
            border-color: lighten(#d7d7d7, 5%) !important;

            &:hover {
                border-color: lighten(#d7d7d7, 1%) !important;
            }

            &:focus {
                border-color: color('brand-secondary') !important;
            }
        }
    }
}

.c-field--forgot-password {
    margin-top: -$spacing-unit-small;
    margin-bottom: $spacing-unit;

    a {
        color: #a5a5a9;
        font-weight: normal;

        &:hover {
            color: color('brand-secondary');
            text-decoration: none;
        }
    }
}


.c-faq {
    color: #5b5e6d;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

    .c-faq__title {
        color: #333;
        font-weight: 700;
        margin-bottom: $spacing-unit-tiny;
        text-align: center;
    }

    .c-faq__intro {
        font-size: 15px;
        text-align: center;
        margin-bottom: $spacing-unit-huge;
    }

    .c-faq__questions {
        font-size: 15px;
        margin-bottom: $spacing-unit-huge;
    }

        .c-faq__section-title {
            color: #333;
            font-weight: 700;
            margin-bottom: $spacing-unit;
            margin-top: $spacing-unit-huge;
            text-transform: uppercase;
        }

        /**
         * 1. Make the question same size as the text for better consistency,
         *    since Semantic UI css is applying some questionable styles which
         *    make the font size too small on phones.
         */
        .c-faq__question {
            color: #5b5e6d;
            font-size: inherit; /* [1] */
            font-weight: 700;
            margin-bottom: $spacing-unit-small;

            .c-accordion__trigger & {
                margin-bottom: 0;
            }
        }

$accordion-padding-horizontal: $spacing-unit-small;

.c-accordion {
    border-bottom: 1px solid #e2e2e2;
    transition: all .35s ease;

    &.is-active {
        background-color: rgba(#000, .05);
    }
}

    .c-accordion__trigger {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
        padding-top: $spacing-unit-small;
        padding-bottom: $spacing-unit-small;
        padding-left: $accordion-padding-horizontal;
        padding-right: $accordion-padding-horizontal;

        &:hover {
            text-decoration: none;
        }
    }

        .c-accordion__icon-chevron {
            align-self: flex-start;
            color: #b0b2b8;
            margin-left: $spacing-unit;
            transition: $global-transition;

            .c-accordion.is-active & {
                transform: rotate(180deg);
            }
        }

    .c-accordion__content {
        display: none;
        padding-left: $accordion-padding-horizontal;
        padding-right: $accordion-padding-horizontal;
        padding-bottom: $spacing-unit;

        .c-accordion.is-active & {
            display: block;
        }
    }

/**
 * 1. For short screens the footer gets in the viewport and makes the page seem
 *    busy. With this we're pushing it away enough that it's hidden.
 */
.c-no-results {
    margin-top: $spacing-unit-huge;
    margin-bottom: $spacing-unit-huge * 3; /* [1] */
    text-align: center;

    @include mq(medium) {
        margin-top: 100px;
    }
}

    .c-no-results__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 260px;
    }

    .c-no-results__img--search {
        width: 55%;

        @include mq(medium) {
            width: 100%;
        }
    }

    .c-no-results__title {
        font-weight: 700;
        margin-bottom: $spacing-unit-small;
    }


.c-widget {
    display: inline-block;
    position: relative;

    .o-icon {
        font-size: 12px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

    .c-widget__action {
        background-color: color('brand-secondary');
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        height: 1em;
        width: 1em;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;

        &:hover {
            background-color: darken(color('brand-secondary'), 4%);
            color: #fff;
            text-decoration: none;
        }
    }




.c-label {
    font-size: 11px !important;
    text-transform: uppercase !important;
}

.c-checkbox {
    vertical-align: baseline !important;
}

.c-dropdown {
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

    .c-dropdown__menu {
        @include invisible;
        background-color: #fff;
        border-radius: $global-border-radius;
        box-shadow: 0 2px 8px 0 rgba(#000, .1);
        margin-top: $spacing-unit-tiny;
        min-width: 160px;
        padding: $spacing-unit-small;
        transition: all .05s ease;
        transform: translateY(-$spacing-unit-small);
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;

        .c-dropdown.is-active & {
            @include visible;
            transition-duration: .15s;
            transform: translateY(0);
        }

        a {
            align-items: center;
            color: inherit;
            display: flex;
            padding-bottom: $spacing-unit-tiny;
            padding-top: $spacing-unit-tiny;
            white-space: nowrap;

            .icon,
            .o-icon {
                margin-right: $spacing-unit-tiny;
            }

            &:hover {
                color: color('brand-secondary');
                text-decoration: none;
            }
        }
    }

/**
 * 1. Reset semantic ui styles.
 */
.c-report-list {
    list-style-type: none; /* [1] */
    margin: 0; /* [1] */
    padding: 0; /* [1] */

    li {
        &:not(:last-child) {
            margin-bottom: $spacing-unit;
        }
    }

    dl {
        margin: 0; /* [1] */
    }

    dt {
        font-weight: 700;
    }

    dd {
        color: #616161;
        margin: 0; /* [1] */
        padding: 0; /* [1] */
    }
}


.c-link-neutral[class] {
    color: color('light-grey');

    &:focus {
        outline: none;
    }
}

.c-statistics {
    color: inherit !important;
    margin-left: -($spacing-unit-large) !important;

    .statistic {
        flex: 0 0 auto;
        min-width: 0 !important;
        padding-left: $spacing-unit-large;
        width: 100%;

        @include mq(medium) {
            width: 40%;
        }

        @include mq(large) {
            width: 25%;
        }
    }

    .label {
        color: inherit !important;
        opacity: .6;
        text-align: left !important;
        text-transform: none !important;
        font-weight: 400 !important;
    }

    .value[class][class] {
        color: inherit !important;
        font-size: 2.5rem !important;
        font-weight: 700 !important;
        text-align: left !important;
        opacity: .95;

        @include mq(medium) {
            font-size: 3rem !important;
        }
    }

    small {
        font-size: 40%;
        line-height: 1.1;
        opacity: .55;
        font-weight: 400;
    }
}

.ui.celled.table {
    border: none !important;
    box-shadow: 0 5px 10px 0 rgba(#000, .05) !important;

    th {
        background-color: mix(color('grey'), color('brand-secondary'), 80%) !important;
        background-color: #fff !important;
        color: #7e8186;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    tr td,
    tr th {
        border-left: none;
        border-top-color: rgba(#000, .05);

    }
}

.c-box {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(#000, .05) !important;
    padding: $spacing-unit;
}

.c-box--dark {
    background-color: mix(color('brand-secondary'), #333, 50%) !important;
    box-shadow: 0 5px 10px 0 rgba(#000, .2) !important;
    color: #fff;
}

/**
 * Search dropdown
 *
 * 1. For small screens substract header and bottom navigation height from the
 *    viewport height, and then subsctract another "buffer" value (epressed in
 *    `vh` units) to have enough gap between bottom navigation and search
 *    dropdown.
 * 2. On bigger screens substract header height and some buffer value so that
 *    search (when it's really hight) is not "touching" the bottom part of the
 *    viewport.
 */
.c-search-dropdown {
    background-color: #fff;
    border-radius: $global-border-radius;
    box-shadow: 0 2px 8px 0 rgba(#000, .1);
    max-height: calc(100vh - #{($header-height * 2)} - 10vh); /* [1] */
    min-height: 86px;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;

    @include mq($tweakpoint-header) {
        max-height: calc(100vh - #{($header-height + $spacing-unit)}); /* [2] */
    }
}

    .c-search-dropdown__heading[class] {
        color: #9a9da1 !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        padding: 0 $spacing-unit-small !important;
        text-transform: uppercase !important;
    }

    .c-search-dropdown__info-message {
        color: #9a9da1;
        font-size: 13px;
        margin-bottom: $spacing-unit;
        padding: $spacing-unit-small;
    }

    .c-search-dropdown__list {
        margin: 0 !important;
        padding: $spacing-unit-tiny 0 !important;

        li {
            list-style-type: none;
            margin: 0 !important;
            padding: 0 !important;
        }

        a {
            $background-color: #f4f6f6;

            color: #343434;
            display: block;
            padding: $spacing-unit-tiny $spacing-unit-small;
            transition: $global-transition;

            &:hover {
                background-color: $background-color;
                text-decoration: none;
            }

            &.is-active {
                background-color: darken($background-color, 8%);
            }

            &:active {
                background-color: darken($background-color, 12%);
            }
        }
    }
